body{
	margin:0;
	padding:0;
}
.main{
	background-color:#eeeeee;
}
#img2{
	position:absolute;
    top:5%;
	display:block;
	margin-left:38%;
}
.container1{
	background-image: url("images/bg.jpg");
    background-size: 90px;
	margin-right:0;
    padding-bottom:8%;
}
#brand{
  	font-size:6.4vw;	
	text-align:center;
}
/*#section1{
	margin:0 auto;
    background-color: #fd4a5c;
    height:60%;
	position:relative;
    margin-left:100px;
    margin-right:100px;
    font-family: abfont;
    margin-top:10%;
    margin-bottom: 4%;
	padding-top:-50px;
}
#para{
    color: #f7f7f7;
	margin-left:50px;
	margin-right:50px;
    font-size:25px;
	position:absolute;
	margin-top:-50px;
	
}*/
#boxone{
    background-color: #fd4a5c;
    height:85%;
    margin-left: 8%;
    margin-right: 8%;
    vertical-align: top;
    font-family: abfont;
    position: relative;
    margin-top: 4.8%;
    margin-bottom:10%;
}
#boxone p{
    color: #f7f7f7;
    padding-top:14%;
    margin-left: 6%;
    margin-right: 6%;
    font-size:2.3vw;
	text-align:justify;
}
#steamlogo{
    position: absolute;
    bottom:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@font-face{
    font-family: abfont;
    src: url(imgs/Dosis-FontZillion/Fonts/dosis-medium.ttf);
}

#assets{
    height:13.4%;
    padding-left: 4.5%;
	margin-left:7.2%;
    margin-top: 3%;
    display: inline;
}
#product{
    display: inline-block;
	margin-left:5.1%;
    padding-left: 6.9%;
    margin-top: 2%;
    color: #f7f7f7;
    font-size: 20px;
}
#button1{
    margin-top: 5%;
    text-align: center;
    margin-left: 41%;
    border-radius: 8px;
    border: 0px;
    background-color:#6fcfeb ;
    color: #f7f7f7;
    font-weight: bold;
    padding:1.5% 2.8%;
    font-size: 20px;
    cursor: pointer;

}
#button1:hover{
    background-color:#00bc70 ;
}
#boxtwo{
    background-color: #00bc70;
    height:85%;
    margin-left: 8%;
    margin-right: 8%;
    vertical-align: top;
    font-family: abfont;
    position: relative;
    margin-top: 5.8%;
    margin-bottom: 10%;
}
#boxtwo p{
    color: #f7f7f7;
    padding-top: 14%;
    margin-left: 6%;
    margin-right: 6%;
    font-size:2.3vw;
	text-align:justify;
}
#button2{
    margin-top: 5%;
    text-align: center;
    margin-left: 41%;
    border-radius: 8px;
    border: 0px;
    background-color: #fd4a5c;
    color: #f7f7f7;
    font-weight: bold;
    padding:1.5% 2.8%;
    font-size: 20px;
    cursor: pointer;
    margin-bottom:3%;

}
#button2:hover{
    background-color:#6fcfeb ;
}
#boxthree{
    background-color:#6fcfeb ;
    height:85%;
    margin-left: 8%;
    margin-right: 8%;
    vertical-align: top;
    font-family: abfont;
    position: relative;
    margin-top: 5.8%;
    
}
#boxthree p{
    color: #f7f7f7;
    padding-top: 14%;
    margin-left: 6%;
    margin-right: 6%;
    font-size:2.3vw;
	text-align:justify;
}
#button3{
    margin-top: 5%;
    text-align: center;
    margin-left: 41%;
    border-radius: 8px;
    border: 0px;
    background-color: #00bc70;
    color: #f7f7f7;
    font-weight: bold;
    padding:1.5% 2.8%;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 3%;

}
#button3:hover{
    background-color: #fd4a5c;
}
.container2{
    background-color: #eeeeee;
    margin-top: -3.0%;
}
#customers h1{
    font-size:7vw;
    font-family: abfont;
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    margin-bottom:3% ;
}
#customers{
    background-color: #ffffff;
    margin-left: 6%;
    margin-right: 6%;
    vertical-align: top;
    font-family: abfont;
    position: relative;
    margin-top: 9%;
    border-radius: 20px;
}

#customers p{
    padding-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
    font-size:2.7vw;
    font-family: abfont;
}

.container3{
    background-color: #f7f7f7;
}
.container4{
    padding-bottom: 5%;
}
.container4 h1{
    font-size:6.5vw;
    font-family: abfont;
    text-align: center;
    padding-top: 2.5%;
    font-weight: bold;
}
#arrow{
    height:7%;
	width:7%;
    margin-left:90%;
	/*margin-bottom: 13%;
	cursor: pointer;*/
}

#heading{
    background-color: #ffffff;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:0.9%;
    vertical-align: top;
    font-family: abfont;
    position: relative;
    margin-top: 3%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#heading h1{
    font-size:4.6vw;
    font-family: abfont;
    text-align: left;
    padding-top: 4%;
    font-weight: bold;
    margin-bottom:2% ;
}
#heading p{
    font-size:2.6vw;
    font-family: abfont;
    text-align:justify;
    padding-top: 3%;
    margin-bottom:2% ;
}
#contact{
    font-size: 2vw;
}
#hello{
    font-size: 3.3vw;
}	
.my-1{
	top-margin:5%;
	bottom-margin:2
	
}
